<%= turbo_frame_tag dom_id(@list, :header) do %>
  <div class="mb-2 p-1">
    <%= form_with(model: @list, class: "flex items-center gap-1") do |f| %>

      <%# The Input Field (Autofocus so you can type immediately) %>
      <%= f.text_field :name,
          class: "w-full border-2 border-blue-500 rounded p-1 text-sm font-bold text-gray-700 focus:outline-none focus:ring-0",
          autofocus: true,
          onblur: "this.form.requestSubmit()" %>

      <%# Hidden submit button for Enter key %>
      <%= f.submit class: "hidden" %>

    <% end %>
  </div>
<% end %>
