<%= turbo_stream_from @board %>

<div class="h-screen bg-blue-600 p-4 overflow-x-auto">
  <div class="flex h-full space-x-4">

    <%# This renders the list columns %>
    <%= render @lists %>

    <%# This renders the "Add List" button from the partial file %>
    <%= render "boards/new_list_form", board: @board %>

  </div>
</div>
