<%= turbo_frame_tag dom_id(card, :description) do %>
  <% if card.description.present? %>
    <%# READ MODE: Just text, clicking acts as edit shortcut %>
    <div class="group relative">
      <%= link_to edit_description_card_path(card),
          class: "block w-full text-sm text-gray-700 min-h-[40px] cursor-pointer hover:bg-gray-100 rounded-md p-2 -ml-2 transition-colors" do %>

        <%= simple_format(card.description, {}, wrapper_tag: "div") %>
      <% end %>
    </div>

  <% else %>
    <%# EMPTY MODE %>
    <%= link_to edit_description_card_path(card),
        class: "block bg-gray-100 hover:bg-gray-200 h-24 rounded-md p-3 text-sm text-gray-500 font-medium transition-colors cursor-pointer flex flex-col justify-start" do %>
      <span class="mb-1">Add a more detailed description...</span>
    <% end %>
  <% end %>
<% end %>
